.CardMovie {
    list-style: none;
    padding: 10px 0;
    width: 200px;
    .NavMovieItem {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .MoviePoster {
        width: 150px;
        height: 225px;
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .MovieTitle {
        text-align: center;
        font-weight: 400;
        font-size: 1em;
    }
}