@import './settings.scss';
@import './pages/Home.scss';
@import './pages/Movies.scss';
@import './pages/series/Series.scss';
@import './pages/NotFound.scss';
@import './components/Header.scss';
@import './components/MoviesSearch.scss';
@import './components/CardMovie.scss';
@import './pages/MovieDetails.scss';
@import './components/Credits.scss';
@import './components/Trailers.scss';
@import './components/Popular.scss';
@import './components/TopRated.scss';
@import './components/Upcoming.scss';
@import './components/series/PopularSeries.scss';
@import './components/series/TopRatedSeries.scss';
@import './components/series/UpcomingSeries.scss';
@import './components/series/CardSerie.scss';
@import './pages/series/SerieDetails.scss';
@import './components/series/SeriesSearch.scss';
@import './components/Similar.scss';
@import './components/series/SimilarSeries.scss';
@import './components/MovieHomeHeader.scss';
@import './components/TrailerHomeHeader.scss';